<div class="form-group w-50" [formGroup]="loginForm">
  <p><b>Ajout</b> d'un nouvel Animal.</p>
  <p>Categorie Mot</p>
  <input class="form-control" type="text" formControlName="motCategorieId">
  <p>Mot Anglais</p>
  <input class="form-control" type="text" formControlName="motAnglais">
  <p>Mot Francais</p>
  <input class="form-control"type="text" formControlName="motFrancais">
  <!--<p>Mot Trouve</p>-->
  <!--<input class="form-control" type="text" formControlName="motTrouve">-->
  <br>
  <button class="btn btn-primary" (click)="addAnimalBis()">Valider nouvel Animal</button>
  <br>
  <div *ngIf = "afficheAnimalCree === true">
    <p> Animal créée : {{monTabBis.motAnglais}} - {{monTabBis.motFrancais}} dans la Catégorie {{nomCategorieDuMotCreee}}</p>
  </div>
</div>
<br>
<br>

<div [formGroup]="loginForm">
  <p><b>Suppression</b> d'un Animal</p>
  <p>Numero Id à supprimer</p>
  <input type="text" formControlName="idMotASupprimer">
  <br>
  <button (click)="onDeleteAnimal()">Supprimer un Animal</button>
</div>
<br>
<br>
<form [formGroup]="loginForm">
  <label> Tapez un ID</label>
  <input type="text" formControlName="choixAction">
  <button class="btn-default" (click)="trouveParId()">Cherche par Id</button>

  <!--<p>{{employeesId | json}}</p>-->
    <div *ngIf = "reponseChoix != null">
    <p> Mot Quizz Choisi est : </p>
    <p> Animaux Id : {{quizzSelParId.animauxId}}</p>
    <p> Categorie Id : {{quizzSelParId.categorieId}}</p>
    <p> Mot Francais : {{quizzSelParId.motFrancais}}</p>
    <p> Mot Anglais : {{quizzSelParId.motAnglais}}</p>
    <p> Mot Trouve : {{quizzSelParId.motTrouve}}</p>
    </div>
  <br>
  <p><b>Modification</b> d'un Animal</p>
  <p>Nouvel ID</p>
  <input type="number" formControlName="motId">
  <p>Nouvelle categorie Id</p>
  <input type="number" formControlName="motCategorieId">
  <p>Nouveau mot Anglais</p>
  <input type="text" formControlName="motAnglais">
  <p>Nouveau mot Francais</p>
  <input type="text" formControlName="motFrancais">
  <p>Nouveau mot Trouve</p>
  <input type="text" formControlName="motTrouve">
  <button (click)="updateAnimalBis()">Mettre à jour un Animal BIS</button>

</form>

<p>Resultat tableau NgFor</p>
<tr *ngFor="let e of employeesId | keyvalue ">
  Key: <b>{{e.key}}</b> and Value: <b>{{e.value}}</b>

</tr>

<div [formGroup]="loginForm">
  <p>Entrer votre pseudo</p>
  <input type="text" formControlName="pseudoJoueur">
  <input type="text" formControlName="motDePasse">
  <button (click)="validerPseudo()">Valider pseudo</button>
</div>

<div [formGroup]="loginForm">
  <p>Supprimer un joueur</p>
  <input type="text" formControlName="deletePlayer">
  <button (click)="supprimerJoueur()">Supprimer</button>
</div>
