<div class="form-group w-50" [formGroup]="loginForm">
  <p><b>Ajout</b> d'un nouvel Animal.</p>
  <p>Categorie Mot</p>
  <input class="form-control" type="text" formControlName="motCategorieId">
  <p>Mot Anglais</p>
  <input class="form-control" type="text" formControlName="motAnglais">
  <p>Mot Francais</p>
  <input class="form-control"type="text" formControlName="motFrancais">
  <!--<p>Mot Trouve</p>-->
  <!--<input class="form-control" type="text" formControlName="motTrouve">-->
  <br>
  <button class="btn btn-primary" (click)="addAnimalBis()">Valider nouvel Animal</button>
  <br>
  <div *ngIf = "afficheAnimalCree === true">
    <p> Animal créée : {{monTabBis.motAnglais}} - {{monTabBis.motFrancais}} dans la Catégorie {{nomCategorieDuMotCreee}}</p>
  </div>
</div>
<br>
<br>

<div [formGroup]="loginForm">
  <p><b>Suppression</b> d'un Animal</p>
  <p>Numero Id à supprimer</p>
  <input type="text" formControlName="motId">
  <br>
  <button (click)="onDeleteAnimal()">Supprimer un Animal</button>
</div>
<br>
<br>

<div [formGroup]="loginForm">
  <p><b>Modification</b> d'un mot</p>
  <p>Numero Id à modifier</p>
  <br>
  <p>{{employeesId | json}}</p>
</div>
<br>
<br>
<form [formGroup]="loginForm">
  <label> Tapez un ID</label>
  <input type="text" formControlName="choixAction">
  <button class="btn-default" (click)="trouveParId()">Cherche par Id</button>

  <p>{{employeesId | json}}</p>
  <p>Nouvel ID</p>
  <input type="number" formControlName="motId">
  <p>Nouvelle categorie Id</p>
  <input type="number" formControlName="motCategorieId">
  <p>Nouveau mot Anglais</p>
  <input type="text" formControlName="motAnglais">
  <p>Nouveau mot Francais</p>
  <input type="text" formControlName="motFrancais">
  <p>Nouveau mot Trouve</p>
  <input type="text" formControlName="motTrouve">
  <button (click)="updateAnimalBis()">Mettre à jour un Animal BIS</button>

</form>

<p>Resultat tableau NgFor</p>
<tr *ngFor="let e of employeesId | keyvalue ">
  Key: <b>{{e.key}}</b> and Value: <b>{{e.value}}</b>

</tr>

<div [formGroup]="loginForm">
  <p>Entrer votre pseudo</p>
  <input type="text" formControlName="pseudoJoueur">
  <input type="text" formControlName="motDePasse">
  <button (click)="validerPseudo()">Valider pseudo</button>
</div>

<div [formGroup]="loginForm">
  <p>Supprimer un joueur</p>
  <input type="text" formControlName="deletePlayer">
  <button (click)="supprimerJoueur()">Supprimer</button>
</div>

<div>
  <p>Affichage des scores</p>
  <div *ngFor="let ligne of score">
  <p>Score id : {{ligne.scoreId}}</p>
  <p>Joueur id : {{ligne.joueurId}} </p>
  <p>Categorie id :{{ligne.categorieId}} </p>
  <p>Score Global : {{ligne.scoreGlobal}} </p>
  <p>Score catégorie : {{ligne.scoreCategorie}} </p>
  <p>Nombre de tentatives : {{ligne.nbTentatives}} </p>
  </div>
</div>

<div>
  <p>Score par joueur et par catégorie</p>
  <p>scoreParJoueurEtParCategorie vaut {{scoreParJoueurEtParCategorie}}</p>
  <button (click)="getScoreJoueurCategorie()">donne score par Id et Categorie</button>
</div>



