<table border="1">
  <thead></thead>
  <tr>
    <th>Id</th>
    <th>Mot Français</th>
    <th>Mot Anglais</th>
    <th>Mot Trouvé</th>
  </tr>

  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.animauxId}}</td>
    <td>{{employee.motFrancais}}</td>
    <td>{{employee.motAnglais}}</td>
    <td>{{employee.motTrouve}}</td>
  </tr>
  <br>
  <tr *ngFor="let employee of employees; let indexMotATrouver = index;">
    <td>{{employee.animauxId}}</td>
    <td>{{employee.motFrancais}}</td>
    <div [formGroup] = "loginForm">
      <input type="text" formControlName="formMotJoueur">
      <button (click)="onValideMotJoueur(indexMotATrouver)">Valider</button>
    </div>
  </tr>
  </tbody>
</table>
<br>
<table border="1">
  <thead></thead>
  <tr>
    <th>Id</th>
    <th>Pseudo</th>
    <th>Score</th>
  </tr>

  <tbody>
  <tr *ngFor="let joueur of joueurs">
    <td>{{joueur.id}}</td>
    <td>{{joueur.pseudo}}</td>
    <td>{{joueur.score}}</td>
  </tr>
  </tbody>
</table>
