
<div class="container">
  <div class="form-group w-50" class="dropdown" [formGroup]="loginForm">
    <p><b>Ajout</b> d'un nouvel Animal.</p>
    <ul id="menu-accordeon">
      <li>Catégorie Quizz
        <ul *ngFor="let ligne of listCategoriesQuizz">
          <li (nomCategorieSelectionnee) = ligne.nomCategorie><button class="btn btn-success"
            (click)="getNomCategorieSelectionnee(ligne.nomCategorie)"
            (click)="retrieveCategorieId(ligne.categorieId)">{{ligne.nomCategorie}}</button></li>
        </ul>
      </li>
    </ul>
    <p *ngIf = "categorieId != null"> Catégorie sélectionnée vaut {{nomCategorieSelectionnee}}</p>
    <div *ngIf="categorieId != null">
      <p>Mot Anglais</p>
      <input class="form-control" size="10" type="text" formControlName="motAnglais">
      <p>Mot Francais</p>
      <input class="form-control"type="text" size="1" formControlName="motFrancais">
      <br>
      <button class="btn btn-primary" (click)="addWordQuizz()">Valider le nouveau mot</button>
      <br>
    </div>
    <div *ngIf = "displayWordCreated === true">
      <p> Mot créée : {{wordToAddInDataBase.motAnglais}} - {{wordToAddInDataBase.motFrancais}} dans la Catégorie : {{previousCategorySelected}}</p>
    </div>
  </div>
</div>

<br>
<br>

<div [formGroup]="loginForm">
  <p><b>Suppression</b> d'un Mot avec son nom</p>
  <p>Nom du mot à supprimer</p>
  <div class="input-group mb-3">
    <input type="text" class="form-control" formControlName="formDeleteWord" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>
  <p>Liste de mots qui correspondent au mot à supprimer : </p>
  <div class="form-check" [formGroup]="loginForm" *ngIf="listOfWords != null" >
    <div *ngFor="let quizz of listOfWords; let index = index;" >
      <input class="form-check-input" type="radio" formControlName="formButtonRadio" value="{{index}}" name="formButtonRadio" id="{{index}}">
      <label class="form-check-label" for={{index}}>
        &nbsp; Mot Anglais : {{quizz.motAnglais}} - Mot Français : {{quizz.motFrancais}}
      </label>
    </div>
  </div>
  <button (click)="onDeleteWord()">Supprimer un mot Quizz</button>
  <br>
  <br>
</div>

<br>
<br>
<form [formGroup]="loginForm">
  <label> <b>Recherchez</b> un mot</label>
  <br>
  <input type="text" formControlName="searchWord">
  <button (click)="searchWord()">Rechercher</button>
  <div *ngFor="let word of displaySearchedWord">
    <div *ngIf="displaySearchedWord != null">
      <p>Animaux Id      :{{word.animauxId}}</p>
      <p>Mot Français Id : {{word.motFrancais}}</p>
      <p>Mot Anglais : {{word.motAnglais}}</p>
      <p>Categorie Id : {{word.categorieId}}</p>
      <p>Aide : {{word.aide}}</p>
      <p>Mot trouve : {{word.motTrouve}}</p>
    </div>
  </div>
  <br>
  <br>

    <div *ngIf = "quizzRetourne != null">
    <p> Mot Quizz Choisi est : </p>
    <p> Animaux Id : {{quizzRetourne.animauxId}}</p>
    <p> Categorie Id : {{quizzRetourne.categorieId}}</p>
    <p> Mot Francais : {{quizzRetourne.motFrancais}}</p>
    <p> Mot Anglais : {{quizzRetourne.motAnglais}}</p>
    <p> Mot Trouve : {{quizzRetourne.motTrouve}}</p>
    </div>
  <br>
  <br>
  <p><b>Modification</b> d'un Animal</p>
  <p>Nouvel ID</p>
  <input type="number" formControlName="motId">
  <p>Nouvelle categorie Id</p>
  <input type="number" formControlName="motCategorieId">
  <p>Nouveau mot Anglais</p>
  <input type="text" formControlName="motAnglais">
  <p>Nouveau mot Francais</p>
  <input type="text" formControlName="motFrancais">
  <p>Nouveau mot Trouve</p>
  <input type="text" formControlName="motTrouve">
  <br>
  <br>
  <button class="btn btn-primary" (click)="updateAnimalBis()">Mettre à jour le mot</button>
  <br>
  <br>

</form>

<!--</tr>-->

<div [formGroup]="loginForm">
  <p><b>Créer</b> un nouveau Joueur</p>
  <label> Pseudo du Joueur</label>
  <input type="text" formControlName="pseudoJoueur">
  <br>
  <label> Mot de passe du Joueur</label>
  <input type="text" formControlName="motDePasse">
  <br>
  <br>
  <button class="btn btn-primary" (click)="validerPseudo()">Valider pseudo</button>
</div>

<div [formGroup]="loginForm">
  <p>Supprimer un joueur</p>
  <input type="text" formControlName="deletePlayer">
</div>
<br>
<br>
<br>
<div>
  <p>Deserialiser un fichier</p>
  <form [formGroup]="loginForm">
    <input type="text" formControlName="nameFileToDeserialize">
    <button (click)="deserialize()">Deserialiser</button>
    <button (click)="display()">Afficher</button>
    <div *ngIf="displaySerializedHistoQuizz == true">
      <div *ngFor="let hq of deserializedHistoQuizz">
        <p> a : {{hq.motAnglais}}</p>
        <p> b : {{hq.motFrancais}}</p>
        <p> c : {{hq.motTrouve}}</p>
      </div>
    </div>
  </form>
</div>

