<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="app-authentification">Authentification</a></li>
      <li><a routerLink="trouve-anglais">Trouve le mot en Anglais</a></li>
      <li><a routerLink="trouve-francais">Trouve le mot en Français</a></li>
      <li><a routerLink="toolsbox">Boite à outils</a></li>
      <li><a *ngIf="joueurSelectionne != null" style="color: blue;"> &nbsp; &nbsp; &nbsp;Joueur : {{joueurSelectionne.pseudo}}  &nbsp; &nbsp;  Score : {{joueurSelectionne.score}}</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
