<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">

          <h5 class="card-title text-center">Connexion</h5>

          <div *ngIf="errorMsg" class="text-center text-danger m-1">{{errorMsg}}</div>

          <form [formGroup]="loginForm" class="form-signin">

            <input formControlName="pseudoForm" placeholder="Pseudo"
                   name="pseudo" [(ngModel)]="pseudo">
            <br>
            <button class="btn btn-lg btn-dark btn-block text-uppercase"
                    (click)="onSignIn()">
              Me connecter
            </button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <p>Input pour mon test</p>
  <input type="text" [(ngModel)]="pseudo">
  <button (click)="onVerifTest()"
          (click)="onSignIn()">Verif variable test</button>
</div>
