<!--<div class="container-fluid">-->
  <!--<div [formGroup]="loginForm">-->
    <!--<h4>Cliquez pour vous connecter</h4>-->
    <!--<label>Pseudo</label>-->
    <!--<input type="text" formControlName="pseudo">-->
    <!--<label>Mot de passe</label>-->
    <!--<input type="text" formControlName="motDePasse">-->
    <!--<button class="btn-success">Se Connecter</button>-->
  <!--</div>-->
<!--</div>-->

<form [formGroup]="loginForm">
  <div class="container">
    <div class="row">
      <div class="mb-3 col-xs-3">
        <label for="Pseudo" class="form-label">Pseudo</label>
        <input type="text" formControlName="pseudoForm" class="form-control" id="Pseudo">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="mb-3 col-xs-3">
        <label for="Mot_de_passe" class="form-label">Mot de passe</label>
        <input type="password" formControlName="mdpForm" class="form-control" id="Mot_de_passe">
      </div>
    </div>
    <br>
      <button *ngIf="trouve == false" type="submit" class="btn btn-success" (click)="onSignIn()">Se connecter</button>
      <button *ngIf="trouve == true" type="submit" class="btn btn-danger" (click)="onSignOut()">Déconnexion</button>
  </div>
</form>

<div>
  <p>Liste des joueurs déjà présents</p>
  <div *ngFor="let joueur of listeJoueurs">
    <p>{{joueur.pseudo}} - {{joueur.motDePasse}}</p>
  </div>
</div>



<!--<p>{{messageAuth}}</p>-->

<!--<div [formGroup]="loginForm" class="container-fluid">-->
  <!--<h4>Création de votre compte</h4>-->
  <!--<label>Pseudo</label>-->
  <!--<input type="text">-->
  <!--<label>Mot de passe</label>-->
  <!--<input type="text">-->
<!--<button class="btn-danger">S'enregistrer</button>-->
  <!--<p>Bienvenue nomUser !</p>-->
<!--</div>-->

